name: anacopy
on:
  workflow_dispatch:
  schedule:
    - cron: "46 3/15 * * *"

jobs:
  copy:
    defaults:
      run:
        shell: bash -l {0}
    env:
      FASTCHAN: ${{ secrets.FASTCHAN }}
    strategy:
      fail-fast: false
      matrix:
        py: [3.6, 3.7, 3.8]
        os: [ubuntu, macos]
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: conda-incubator/setup-miniconda@master
        with:
          python-version: ${{ matrix.py }}
          channels: pytorch,fastai,defaults,conda-forge
          channel-priority: true
      - uses: actions/checkout@v2
      - run: pip install -Uq fastcore
      - run: python get_deps.py

