name: Github Action with a cronjob trigger
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  cronjob-based-github-action:
    name: Cronjob based github action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: gautamkrishnar/keepalive-workflow@master # using the workflow with default settings
