name: setupconda
on:
  workflow_dispatch:
  schedule:
    - cron: "46 1/13 * * *"

env:
  ANACONDA_TOKEN: ${{ secrets.ANACONDA_TOKEN }}

jobs:
  build:
    defaults:
      run:
        shell: bash -l {0}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: 3.8
          channels: fastai,fastchan,defaults
      - name: Install dependencies
        run: |
          conda install -yq mamba
          mamba install -yq anaconda-client conda-build fastrelease setuptools-conda
      - name: Build and Publish
        run: |
          ./setupconda.sh accelerate '--conda-name-differences torch:pytorch -c pytorch --noarch .'
          ./setupconda.sh timm '--conda-name-differences torch:pytorch -c pytorch --noarch .'
          ./setupconda.sh albumentations '--conda-name-differences opencv-python:opencv-python-headless,opencv-contrib-python:opencv-python-headless,opencv:opencv-python-headless --noarch .'
          ./setupconda.sh imgaug '--conda-name-differences opencv-python:opencv-python-headless,opencv-contrib-python:opencv-python-headless,opencv:opencv-python-headless --noarch .'
